body {background-color: #f1f0f0;}

#btn-sair {
    position: fixed;
    right: 11%;
}

#btn-delete {
    position: fixed;
    right: 20%;
}

.container {
    padding-right: 1px;
    padding-left: 1px;
    margin-right: auto;
    margin-left: auto;
}

.not-active {
    pointer-events: none;
    cursor: default;
    text-decoration: none;
    color: black;
  }

.btn btn-link {
    pointer-events: none;
}  