<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Alterar Funcionário</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <form action='/grt/alter/{{id}}/{{id_projeto}}/{{func}}/{{id_atividade}}' method="post" id="formulario">
        <div class="form-group">
            <datalist id="fun">
                {%for func in funcionarios%}
                    <option value={{func[0]}}></option>
                {% endfor%}
            </datalist>
            <label >Funcionário</label>
            <input class="form-control" placeholder="Escolha o responsável" name="fun" required list="fun">
        </div><br>
        <button type="submit" class="btn btn-primary">Alterar</button>
    </form>

    <script src="{{ url_for('static', filename='js/bootstrap.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery.js') }}"></script>
    <script src="{{ url_for('static', filename='js/popper.js') }}"></script>
</body>
</html>