<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Perfil | {{nome}}</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/detalhes_funcionario.css') }}">
</head>
<body style="background-color: #f1f0f0;">

    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">

        <div class="container"> 
            
            <a class="navbar-brand h1 mb-0" href="/adm">Perfil {{nome}}</a>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSite">
                <span class="navbar-toggler-icon"></span>
            </button>
    
            <div class="collapse navbar-collapse" id="navbarSite">
                <ul class="navbar-nav">
                    <li class="nav-item">
                
                        {% if qtd_atividades == 0%}
                            <a class="btn btn-danger" id="btn-delete" href="/adm/delete_funci/{{id}}" role="button">Excluir Funcionário</a>
                        {% else %}
                            <a class="btn btn-link" id="btn-delete" role="button">Excluir Funcionário</a>
                        {% endif %}    
                    </li>

                    <li class="nav-item">
                        <a class="btn btn-light" id="btn-sair" href="/">Sair</a>
                    </li>

                </ul>
            </div>    
        </div>
    </nav>

    <div class="container">

        <table class="table">
            <tr>
                <th>Nome</th>
                <th>Email</th>
                <th>Número de Contato</th>
                <th>Data de Nascimento</th>
                <th>CPF</th>
            </tr>
            {%for list in perfil%}
                <tr>
                    <td>{{list[0]}}</td>
                    <td>{{list[1]}}</td>
                    <td>{{list[2]}}</td>
                    <td>{{list[3]}}</td>
                    <td>{{list[4]}}</td>
                </tr>
            {%endfor%}
        </table>
    </div>

    <script src="{{ url_for('static', filename='js/bootstrap.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery.js') }}"></script>
    <script src="{{ url_for('static', filename='js/popper.js') }}"></script>
</body>
</html>